html {
    background-color: rgb(245, 243, 243);
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Arvo', Georgia, Times, serif;
}

header {
    background-color: rgb(41, 41, 41);
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#buttons {
    display: flex;
    align-items: center;
}

#language_translation {
    display: flex;
    flex-direction: row;
}

#language_translation>img {
    width: 50px;
    height: 30px;
}

hr {
    height: 5px;
    background-color: rgb(41, 41, 41);
    color: rgb(41, 41, 41);
    width: 90%;
    border: none;
    border-radius: 50%;
}

.recipe {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    height: 100px;
    padding: 10px 3%;
}

.recipe_reversed {
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: center;
    height: 100px;
    padding: 10px 3%;
}

.recipe>div,
.recipe_reversed>div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.recipe>article {
    margin-left: 50px;
    box-sizing: border-box;
    text-align: center;
    background-color: wheat;
    padding: 20px 30px;
    height: 100%;
}

.recipe_reversed>article {
    margin-right: 50px;
    box-sizing: border-box;
    text-align: center;
    background-color: wheat;
    padding: 20px 30px;
    height: 100%;
}

img {
    display: block;
    height: 100%;
}