body {
    display: flex;
    flex-direction: column;
    background-color: midnightblue;
}

header {
    background-color: grey;
}

.recipe {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    height: 100px;
    padding: 10px 3%;
}

.recipe_reversed {
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: center;
    height: 100px;
    padding: 10px 3%;
}

.recipe>div , .recipe_reversed>div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.recipe>article {
    margin-left: 50px;
    box-sizing: border-box;
    text-align: center;
    background-color: wheat;
    padding: 20px 30px;
    height: 100%;
}

.recipe_reversed>article {
    margin-right: 50px;
    box-sizing: border-box;
    text-align: center;
    background-color: wheat;
    padding: 20px 30px;
    height: 100%;
}

img {
    display: block;
    height: 100%;
}